<!DOCTYPE html>
<html data-ripple data-ripple-selector=".sidebar-item, .dropdown-ripple > li, .btn-ripple, .img-ripple, .select2-selection--single">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0071ce">
    <meta name="msapplication-TileImage" content="/assets/images/windows-tile.png">
    <meta name="msapplication-TileColor" content="#0071ce">
    <title>{{ title|default('Home example') }} - Fxp Theme Gluon</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="fluid-icon" type="image/png" href="/assets/images/fluidicon.png" title="Fxp">
    <link rel="apple-touch-icon" sizes="114x144" href="/assets/images/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144.png">
    <link href="/assets/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/assets/shiv.js"></script>
    <![endif]-->
    <style>
        .demo-separator {
            margin-top: 24px;
        }
        .demo-col > .btn {
            margin-top: 10px;
        }
    </style>
    {% block head_style %}
    {% endblock %}
</head>

<body>
<!-- SIDEBAR -->
{% block sidebars %}
{% endblock %}

<!-- CONTAINER MAIN -->
{% block body %}
{% endblock %}
<script src="/assets/main.js"></script>
<script>
    $(document).ready(function() {
        $('.container-main').on('scroll.fxp.examples', function() {
            $('.open .dropdown-toggle').dropdown('toggle');
        });
        {% block custom_script %}
        {% endblock %}
    });
</script>
</body>
</html>
