//
// Metric Theme
// --------------------------------------------------

.metric-primary {
    color: @brand-primary;
}

.metric-accent {
    color: @brand-accent;
}

.metric-success {
    color: @brand-success;
}

.metric-info {
    color: @brand-info;
}

.metric-warning {
    color: @brand-warning;
}

.metric-danger,
.metric-error {
    color: @brand-danger;
}

.metric-detail {
    color: @gray-light;
}
